<!doctype html>
<html>
   <body>

      <table border = 1>
         {% for key, value in detail.items() %}
         
            <tr>
               <th> {{ key }} </th>
               <td> <label><input type="text" name={{value}} value={{value}} readonly/> </label> </td>
            </tr>
            
         {% endfor %}
      </table>
      

      <table border = 0>
        <tr>
           <td> <p><input type = "button" value = "MODIFY" onclick = "history.go(-1)"/></p> </td>
           
           <td>
              <form action = "/calculate" method = "POST">
                  {% for key, value in detail.items() %}
                     <input type="hidden" id= {{ key }} name= {{ key }} value= {{ value }}>
                  {% endfor %}
         
                  <p><input type = "submit" value = "CALCULATE" /></p>
               </form>
            </td>
        </tr> 
      </table>

   </body>
</html>
